body {
  font-family: 'Vazirmatn', sans-serif !important;
  direction: rtl;
}

@media (max-width: 768px) {
  header nav { display: none !important; }
  section.flex-col.md\:flex-row-reverse { flex-direction: column !important; }
  .max-w-6xl { padding-left: 1rem !important; padding-right: 1rem !important; }
}

::-webkit-scrollbar {
  width: 8px;
  background: #23262F;
  
}
::-webkit-scrollbar-thumb {
  background: #a51b0b;
  border-radius: 4px;
  color: #a51b0b;
}
